body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: paleturquoise;
    background-image: url(../images/white-blue-clouds-arrangement.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h2 {
    margin-bottom: 20px;
    font-size: 55px;
    color: #00131e
}
/* main.css*/
@media screen and (max-width: 600px) {
    body {
        font-size: 20px;
    }

    h2 {
        font-size: 30px;
    }

    input {
        font-size: 1.5em;
    }
}